<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <div>
            <p>Welcome to dashboard Mr. Admin <b sec:authentication="principal.name"></b></p>
            <h2><a href="/users/dashboard">Click here to go User panel</a></h2>
            <h2><a href="/admin/addedvalue">Click here to get values</a></h2>
        </div>
    </div>
</body>
</html>